.scenario-editor-content {
  height: 100%;
}
.editor-header {
  background: #252526;
  color: #ccc;
  padding: 8px 18px;
  font-size: 13px;
}

.documentation-panel {
  box-sizing: border-box;
  padding: 32px;
  overflow: auto;

  pre {
    max-width: 500px;

    overflow: auto;
  }
}

h1 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
}

section {
  margin-bottom: 32px;
}

:host /deep/ .mat-expansion-panel {
  box-shadow: none !important;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 16px;

  .mat-expansion-panel-header-title {
    font-size: 20px;
  }
}
