<div class="scenario-editor-content" fxLayout="row">
  <div class="editor-panel" fxFlex="1 1 50">
    <div class="editor-header">scenario_namme</div>
    <ng-container *ngIf="schemas$ | async as schemas">
      <lto-json-editor [schemas]="schemas" [value]="scenario$ | async" #editor (changeScenario)="scenarioChanged($event)"></lto-json-editor>
    </ng-container>
  </div>
  <div class="documentation-panel" fxFlex="1 1 50">
    <ng-container *ngIf="scenario$ | async as scenario">
      <ng-container *ngIf="scenario.definitions">
        <ng-container *ngTemplateOutlet="definitionTpl; context: { section: 'Definitions', items: scenario.definitions}"></ng-container>
      </ng-container>

      <ng-container *ngIf="scenario.assets">
        <ng-container *ngTemplateOutlet="materialSection; context: { section: 'Assets', items: scenario.assets}"></ng-container>
      </ng-container>

      <ng-container *ngIf="scenario.assets">
        <ng-container *ngTemplateOutlet="materialSection; context: { section: 'Actors', items: scenario.actors}"></ng-container>
      </ng-container>

    </ng-container>
  </div>
</div>

<ng-template #materialSection let-section="section" let-items="items">
  <section class="material-section">
    <h1>{{section}}</h1>
    <p class="section-description">Section description to explain users what does it mean?</p>
    <ng-container *ngFor="let item of items | keyvalue; trackBy: trackByFn">
      <div class="content">
        <h2 fxLayout="row" fxLayoutAlign="start center" (click)="pannel.toggle()">
          <span fxFlex="1 1 auto">{{item.value.title || item.key}}</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </h2>
        <mat-expansion-panel #pannel>
          <div>
            <pre>{{item.value | json}}</pre>
          </div>
        </mat-expansion-panel>
      </div>

      <mat-divider></mat-divider>
    </ng-container>
  </section>
</ng-template>

<ng-template #definitionTpl let-items="items">
  <section class="material-section">
    <h1>Definitions</h1>
    <p class="section-description">Some explanation about definitions</p>
    <ng-container *ngFor="let item of items | keyvalue; trackBy: trackByFn">
      <div class="content">
        <h2 fxLayout="row" fxLayoutAlign="start center" (click)="pannel.toggle()">
          <span fxFlex="1 1 auto">{{item.value.title || item.key}}</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </h2>
        <mat-expansion-panel #pannel [expanded]="true">
          <ng-container *ngIf="item.value.$schema">
            <mat-tab-group>
              <mat-tab label="Preview">
                <div fxLayout="row" class="form-container" fxLayoutAlign="center">
                  <!-- <div class="form">
                    <h3 class="title">{{item.value.title}}</h3>
                    <lto-form [schema]="item.value"></lto-form>
                  </div> -->
                  <mat-card>
                    <mat-card-title>
                      {{item.value.title}}
                    </mat-card-title>
                    <mat-card-content>
                      <lto-form [schema]="item.value"></lto-form>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end">
                      <button mat-flat-button color="primary">Submit</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </mat-tab>
              <mat-tab label="Code">
                <pre>{{item.value | json}}</pre>
              </mat-tab>
            </mat-tab-group>
          </ng-container>
          <div *ngIf="!item.value.$schema">
            <pre>{{item.value | json}}</pre>
          </div>
        </mat-expansion-panel>
      </div>

      <mat-divider></mat-divider>
    </ng-container>
  </section>

</ng-template>