<div class="scenario-editor-content" fxLayout="row">
  <div class="editor-panel" fxFlex="1 1 50">
    <div class="editor-header">scenario_namme</div>
    <ng-container *ngIf="schemas$ | async as schemas">
      <lto-json-editor [schemas]="schemas" [value]="scenario$ | async" #editor></lto-json-editor>
    </ng-container>
  </div>
  <div class="documentation-panel" fxFlex="1 1 50">
    <ng-container *ngIf="scenario$ | async as scenario">
      <section *ngIf="scenario.assets">
        <h1>Assets</h1>
        <mat-expansion-panel *ngFor="let asset of scenario.assets | keyvalue">
          <mat-expansion-panel-header>
            <mat-panel-title>{{asset.key}}</mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </section>

      <section *ngIf="scenario.actors">
        <h1>Actors</h1>
        <mat-expansion-panel *ngFor="let actor of scenario.actors | keyvalue">
          <mat-expansion-panel-header>
            <mat-panel-title>{{actor.value.title}}</mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </section>
    </ng-container>
  </div>