:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
}

input {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

::ng-deep {
  .mat-form-field-infix {
    width:100%;
  }
}