:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

mat-form-field {
  display: block;
}

input[type='file'] {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.art-spacing {
  padding-bottom: 24px;
}
