.application-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:host /deep/ .router-content {
  router-outlet {
    display: none;
  }

  & > * {
    flex: 1 1 auto;
  }
}

lto-appbar {
  position: relative;
  z-index: 1;
}
