/* You can add global styles to this file, and also import other style files */
@import './app/app.theme';

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
